<br>
<div id="container">
	<h1>Netflix Filters database</h1>
	<p>This site is where the <a href="https://chrome.google.com/webstore/detail/netflix-imdb-top-250/akeiblobkickpakkbjgalaklelbicgaj"><b>Netflix Filters</b> Chrome extension</a> looks to find out how it should be filtering films out of Netflix.</p>
	<p>This site (and Netflix Filters) is maintained by me, <a href="http://www.angusbayley.co.uk">Angus Bayey</a>. If you have any questions about this, or life in general, <a href="mailto:angusbayleyweb@gmail.com">send me an email</a>. I like emails.</p>
</div>